<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121 121" width="121" height="121">
	<title>download</title>
	<defs>
		<image  width="104" height="57" id="img1" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGgAAAA5CAMAAADtEJ7BAAAAAXNSR0IB2cksfwAAAFRQTFRF////7u7u6Ojo+Pj49fX1hoaGFRUVAAAAT09PysrKgICAGxsbSkpKv7+/XV1doqKiKysrNDQ0tLS0JycnVFRUYmJiV1dXlJSUQUFBZmZmOzs7jIyMbydSFAAAABx0Uk5TABBwAAD///////////////////////////////PbJ6IAAAGHSURBVHictZTRcoIwEEVTQxtssUIVW+3//2cjFbKJIWSTvfeFEcY9s3BylVLqZacVMo/5zeubafdAzvuH6Q72+mnuOcA47TR/r47GQEnd//heDQ+Q+UJgdDuPVycDJOnzMl2NBkfSl2X2t9r9OJLwdyL7XO1PHKn1OPY8DRhSF3As6YQguX3G5Z4mJCEj9PM+99C3J0IiHozeA2qEAIl4fQ0eibqX4MiSQq8D0k2KFPfARcrymNd+ml7CiK197hGwPOi3tVRbnvRtjVTwnbI5taS01wGposs5HGtEX0ra9tpPU9blK32dSpHlmV4HpBubxPCNhn2eivYJSTlGlHK4Xc73wIXT5Vyv/eR3ec0+DFKxBy5ZlgtwsiwvPD8pUtwIXo8mSBuWS3G2urzWN5pUl8vtM5HWLNeynFXLiW8lfRBL1HKR85MizUYgODHLJX2jCS2v6+tUfMtR+0wkstMA5PiWIzm+e0jOMwnF8S1HcnzLkRzqHpbjzhOaM1uO59idfs+XI/9vf2dyKcRRskpzAAAAAElFTkSuQmCC"/>
	</defs>
	<style>
	</style>
	<use id="Background" href="#img1" x="9" y="32"/>
</svg>