<div class="change-country-select-wrapper mt-3" data-location-selector-wrapper>
    <a href="javascript:void(0)" class="change-country-select" data-location-selector>
        {% render 'icon' with 'uk' %} United Kingdom <i class="down"></i>
    </a>
    <div class="dropdown-options">
        <a href="https://us.daiwear.com" class="change-country-select">
            {% render 'icon' with 'us' %} United States
        </a>
        <a href="https://daiwear.com" class="change-country-select">
            {% render 'icon' with 'row' %} Rest of the World
        </a>
    </div>
</div>
