{% assign my_switch = product.metafields.sf_badges.positive_luxury %}
{% if my_switch == 1 %}
<div class="badges-wrapper">
    <img class="positive-luxury-badge" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/trustmark-dark.png?1930" />
</div>
{% endif %}
