<a href="/pages/wishlist" class="swym-wishlist mobile">
  <i
    aria-hidden="true"
    focusable="false"
    role="presentation"
    class="icon icon-swym-wishlist"></i>
  <span class="swym-wishlist-header-counter-mobile"></span>
</a>