{%- if tab_list_content != blank -%}
  <div class="tab_list">
    <div class="tab_list__icon" style="background-image: url({{ tab_list_icon }})"></div>
    <div class="tab_list__content">{{ tab_list_content }}</div>
  </div>
{%- endif -%}