<div id="tff-v2__progress" class="inactive">
    <div id="tff-v2__progress-bar"></div>
    <ul id="tff-v2__progress-num">
        <li class="step active"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
        <li class="step"></li>
    </ul>
</div>