<div class="tpfilter-item__buttons">
    <button class="btn btn-border tpfilter-item__btn--prev" data-tpfilter-prev type="button">{% render 'icon-arrow-left' %}</button>
    <button class="btn btn-primary tpfilter-item__btn--next" data-tpfilter-next disabled type="button">{% render 'icon-arrow-right' %}</button>
</div>