
<a href="#body-shape-guide" class="cd-popup-trigger tff-v2-shape-flowchart">
    <span>{{ section.settings.ttf_v2_q6_btn_lbl}}</span>
</a>

<div class="cd-popup" role="alert" id="body-shape-guide">
	<div class="cd-popup-container">
		<div class="popup-content">
			<img src="{{ section.settings.ttf_v2_q6_body_shape_guide_img | img_url: 'master' }}" alt="" class="body-shape__img-desktop">
			<img src="{{ section.settings.ttf_v2_q6_body_shape_guide_img_mobile | img_url: 'master' }}" alt="" class="body-shape__img-mobile">
		</div>

		<a href="#body-shape-guide" class="cd-popup-close img-replace">Close</a>
	</div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->
