<div class="age-popup" data-age-popup>
  <h3 class="age-popup__title" data-age-popup-title></h3>
  <div class="age-popup__text" data-age-popup-text></div>
  <div class="age-popup__spacer"></div>
  <button class="age-popup__btn btn btn-primary" data-age-popup-cta></button>
</div>
<div class="age-popup-overlay" data-age-popup-overlay></div>