<div class="award-announcement"> 
    <div class="container">
      <h3 class="rental-how-this-works"> Read about our Trailblazers. </h3>
    <div class="row award-excerpt">
            <div class="col-md-4 TB-quote-box">
                <div class="TB-quote-block">
                       <span class="quotation-mark-left">“</span>
                  <div class="TB-quote" >
                   <h3 class="TB-quote" > Proud of myself for being the first person ever in my family to get a PhD, and landing my dream job. <span class="quotation-mark-right">”</span></h3>
                    <span class="read-more"><a href="https://daiwear.com/pages/trailblazers#story01.">Read more → </a></span>
                  </div>
                  </div>
            </div>
               <div class="col-md-4 TB-quote-box">
                <div class="TB-quote-block">
                       <span class="quotation-mark-left">“</span>
                  <div class="TB-quote" >
                   <h3 class="TB-quote" >Making the leap and taking action, to work on my visa and landing a job with the company I wanted to work for. <span class="quotation-mark-right">”</span></h3>
                  <span class="read-more"><a href="https://daiwear.com/pages/trailblazers#story03.">Read more → </a></span>
                  </div>
                  </div>
            </div>
               <div class="col-md-4 TB-quote-box">
                <div class="TB-quote-block">
                       <span class="quotation-mark-left">“</span>
                  <div class="TB-quote" >
               <h3 class="TB-quote" > I got a new job as an investor, where women represent just 13% of decision makers. <span class="quotation-mark-right">”</span></h3>
                  <span class="read-more"><a href="https://daiwear.com/pages/trailblazers#story04.">Read more → </a></span>
                  </div>
                  </div>
            </div>
    </div>
      
      
      
    </div>
    
       
     <div class="back-to-shopping">
          <div class="lookbook-button" style="text-align:center;">
             <a href="https://daiwear.com/pages/trailblazers" class="btn btn-border left-btn">MORE STORIES</a> <a href="/" class="btn btn-border right-btn">BACK TO SHOPPING</a> 
           </div>
     </div>
        
    </div>