{% assign icon_one = product.metafields.sf_quality_icons.four_way_stretch %}
{% assign icon_two = product.metafields.sf_quality_icons.breathable %}
{% assign icon_three = product.metafields.sf_quality_icons.wrinkle_release %}
{% assign icon_four = product.metafields.sf_quality_icons.quick_drying %}
{% assign icon_five = product.metafields.sf_quality_icons.eco_certified %}
{% assign icon_six = product.metafields.sf_quality_icons.extra_comfort %}
{% assign icon_seven = product.metafields.sf_quality_icons.pilling_resistant %}
{% assign icon_eight = product.metafields.sf_quality_icons.machine_washable %}
{% assign icon_nine = product.metafields.sf_quality_icons.double_bonded %}
{% assign icon_ten = product.metafields.sf_quality_icons.fully_lined %}
{% assign icon_eleven = product.metafields.sf_quality_icons.lightweight %}
{% assign icon_twelve = product.metafields.sf_quality_icons.anti_microbial %}
{% assign icon_thirteen = product.metafields.sf_quality_icons.certified_biodegradable %}
{% assign icon_fourteen = product.metafields.sf_quality_icons.circular_design %}
{% assign icon_fifteen = product.metafields.sf_quality_icons.surplus_end_of_roll_fabric %}
{% assign icon_sixteen = product.metafields.sf_quality_icons.biodegradable %}

{% if icon_one == 1 or icon_two == 1 or icon_three == 1 or icon_four == 1 or icon_five == 1 or icon_six == 1 or icon_seven == 1 or icon_eight == 1 or icon_nine == 1 or icon_ten == 1 or icon_eleven == 1 or icon_twelve == 1 or icon_thirteen == 1 or icon_fourteen == 1 or icon_fifteen == 1 or icon_sixteen == 1 %}
<div class="container section-padding icons-section">
  <div class="row">
    <div class="col-12">
      <div class="row usp-section">
        {% if icon_one == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/4-way-Stretch-icon.png?2307" alt="4-way Stretch" title="4-way Stretch"/ />
          <span>4-way Stretch</span>
        </div>
        {% endif %}

        {% if icon_two == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Breathable-icon.png?2307" alt="Breathable" title="Breathable"/ />
          <span>Breathable</span>
        </div>
        {% endif %}

        {% if icon_three == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Wrinkle-Release-icon.png?2307" alt="Wrinkle Release" title="Wrinkle Release"/ />
          <span>Wrinkle Release</span>
        </div>
        {% endif %}

        {% if icon_four == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Quick-Drying-icon.png?2307" alt="Quick Drying" title="Quick Drying"/ />
          <span>Quick Drying</span>
        </div>
        {% endif %}

        {% if icon_five == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Eco-Certified-icon.png?2307" alt="Eco-certified" title="Eco-certified"/ />
          <span>Eco-certified</span>
        </div>
        {% endif %}

        {% if icon_six == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Extra-Comfort-icon.png?2307" alt="Extra Comfort" title="Extra Comfort"/ />
          <span>Extra Comfort</span>
        </div>
        {% endif %}

        {% if icon_seven == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Anti-Pilling-icon.png?2307" alt="Pilling Resistant" title="Pilling Resistant"/ />
          <span>Pilling Resistant <small>So no little balls from wear</small></span>
        </div>
        {% endif %}

        {% if icon_eight == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Machine-Washable-icon.png?2307" alt="Machine Washable" title="Machine Washable"/ />
          <span>Machine Washable</span>
        </div>
        {% endif %}

        {% if icon_nine == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Double-Bonded-icon-01.png?2367" alt="Double Bonded" title="Double Bonded"/ />
          <span>Double Bonded <small>Two fused layers for structure</small></span>
        </div>
        {% endif %}

        {% if icon_ten == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Lined-2-01-150x150.png?2493" alt="Fully Lined" title="Fully Lined"/ />
          <span>Fully Lined</span>
        </div>
        {% endif %}

        {% if icon_eleven == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Lightweight-icon-150x150.png?2511" alt="Lightweight" title="Lightweight"/ />
          <span>Lightweight</span>
        </div>
        {% endif %}

        {% if icon_twelve == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/anti-microbial-150x150.png?2512" alt="Anti-Microbial" title="Anti-Microbial"/ />
          <span>Anti-Microbial</span>
        </div>
        {% endif %}

        {% if icon_thirteen == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/biodegradable-150x150.png?2513" alt="Certified Biodegradable" title="Certified Biodegradable"/ />
          <span>Certified Biodegradable</span>
        </div>
        {% endif %}

        {% if icon_fourteen == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/circular-150x150.png?2514" alt="Circular Design" title="Circular Design"/ />
          <span>Circular Design</span>
        </div>
        {% endif %}

        {% if icon_fifteen == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/End-of-roll-icon-2-01.png?2551" alt="Surplus End-of-Roll Fabric" title="Surplus End-of-Roll Fabric"/ />
          <span>Surplus End-of-Roll Fabric</span>
        </div>
        {% endif %}

        {% if icon_sixteen == 1 %}
        <div class="col-6 col-md-3 icon-wrapper">
          <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/biodegradable-150x150.png?2513" alt="Biodegradable" title="Biodegradable"/ />
          <span>Biodegradable</span>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endif %}
