{% render 'section-settings', section: section %}
<div class="promotional">
  <div class="text">
    {{ section.settings.text }}
  </div>
</div>
  
{% schema %}
{
  "name": "Promotional",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "ptop",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 40,
      "step": 10,
      "label": "Padding Top"
    },
    {
      "type": "range",
      "id": "pbottom",
      "min": 0,
      "max": 100,
      "unit": "px",
      "default": 40,
      "step": 10,
      "label": "Padding Bottom"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color"
    },
    {
      "type": "text",
      "id": "text",
      "label": "text"
    }
  ],
  "presets": [
    {
      "name": "Promotional",
      "category": "text"
    }
  ]
}
{% endschema %}
