<div class="tff-v2-popup-section">
    <div class="row flex-column align-items-center">
        {% render 'tff-v2-age-popup' %}
    </div>
</div>


{% schema %}
{
    "name": "TFF V2 - Popup",
    "settings": [       
        {
            "id": "ttf_v2_popup_sub_title",
            "type": "text",
            "label": "Popup Sub Title"
        },
        {
            "id": "ttf_v2_popup_title",
            "type": "text",
            "label": "Popup Title"
        }, 
        {
            "id": "ttf_v2_popup_img",
            "type": "image_picker",
            "label": "Add Popup Image"
        },
        {
            "id": "ttf_v2_popup_length_txt",
            "type": "text",
            "label": "Popup Length Text"
        },
        {
            "id": "ttf_v2_popup_body_shape_txt",
            "type": "text",
            "label": "Popup Body Shape Text"
        },
        {
            "id": "ttf_v2_popup_performance_txt",
            "type": "text",
            "label": "Popup Performance Text"
        },
        {
            "id": "ttf_v2_popup_discount_text",
            "type": "text",
            "label": "Popup Discount Text"
        },
        {
            "id": "ttf_v2_popup_discount_code",
            "type": "text",
            "label": "Popup Discount Code"
        },
        {
            "id": "ttf_v2_popup_btn",
            "type": "text",
            "label": "Popup Button Label"
        },
        {
            "id": "ttf_v2_popup_btn_url",
            "type": "url",
            "label": "Popup Button URL"
        }

    ]
}
{% endschema %}