{% capture chevron %}
<span class="chevron">
    <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><path d="M13.148 10.398l-1.297 1.289q-0.148 0.148-0.352 0.148t-0.352-0.148l-4.148-4.148-4.148 4.148q-0.148 0.148-0.352 0.148t-0.352-0.148l-1.297-1.289q-0.148-0.148-0.148-0.355t0.148-0.355l5.797-5.789q0.148-0.148 0.352-0.148t0.352 0.148l5.797 5.789q0.148 0.148 0.148 0.355t-0.148 0.355z" /></svg>
</span> 
{% endcapture %}

<div class="sustainability-page-wrapper images-center">
    {% comment %} Navigation {% endcomment %}
    {% render 'sustainability-page-nav' %}

    {% comment %} Planet Intro {% endcomment %}
    <div class="container planet-intro">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center">
                <h2 id="supply-chain" class="title mt-3 mt-md-5 mb-3">We’re here to make a positive impact.</h2>
                <p>
                    “I always believed in the power of brands
to drive positive impact.
                </p>
                <p>
                    We’re at a critical time for change within
the global fashion industry, and at Dai, we
want to lead by example.”
                </p>
                <p><strong>- JOANNA DAI, FOUNDER</strong></p>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-sm-10">
                <div class="anchor-link-sections prosperity-links">
                    <a class="js-scroll" href="#empower">{{ chevron }} EMPOWERING WOMEN</a>
                    <a class="js-scroll" href="#givingback">{{ chevron }} GIVING BACK</a>
                    <a class="js-scroll" href="#beyonddai">{{ chevron }} SUSTAINABILITY BEYOND DAI</a>
                </div>
                
            </div>
        </div>
    </div>

    {% comment %} Empowering Women {% endcomment %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h2 id="empower" class="title mt-5 mb-3">Empowering Women</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-md-4">
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="icon-wrapper-box icon-wrapper-box__wider-extra">
                    <p><strong>The world is better when women
                        succeed.</strong> We deliver the comfort
                        empowered performance.</p>
                    <p>Since launch in 2017, we’ve been on a
                        mission to empower women and to build a
                        community advocating women’s success.</p>
                    <p>Online and offline,
                        we continually host
                        events around career development,
                        personal brand, leadership, networking,
                        entrepreneurship, and living more
                        sustainably.</p>
                    <p>
                        Join our events and be a part of our
                        Dai’namic Women community.
                    </p>
                    <p>
                        <a href="#signup-email" class="btn btn-primary cd-popup-trigger">Sign up</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/dai-women.jpg?v=1605163286"/>
            </div>
        </div>
    </div>

    {% comment %} Giving Back {% endcomment %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h2 id="givingback" class="title mt-4 mt-md-5 mb-3">Giving Back</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-2 mt-md-4 mobile-reverse-order">
            <div class="col-sm-5 mt-4 mt-md-0" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/masks-img.jpg?v=1605163676"/>
            </div>
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <div class="icon-wrapper-box icon-wrapper-box__wider-extra">
                    <p><strong>Actions speak louder than words.</strong> We are
                        passionate about supporting social and
                        environmental movements that align with
                        our vision and culture, both on a local or
                        global scale.</p>
                    <p>In
                        2020, we donated £18,000 of our
                        bestselling Power Move™ Trousers and
                        750 face masks to the <strong>NHS</strong> and raised over
                        £4,000 in cash for <strong>NHS Charities Together</strong>
                        during the Covid 19 lockdown.</p>
                    <p>We donated as a company and as
                        individual team members to the <strong>Black
                        Lives Matter</strong> movement and fortified our
                        commitment to anti racism, diversity and
                        inclusion.</p>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Empowering Women {% endcomment %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8 text-center">
                <h2 id="beyonddai" class="title mt-5 mb-3">Sustainability beyond Dai</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-0 mt-md-4">
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="icon-wrapper-box icon-wrapper-box__wider-extra">
                    <p><strong>We
                        lead by example.</strong>
                        We actively
                        collaborate and share our sustainability
                        initiatives, resources and ideas with the
                        broader fashion and consumer
                        communities.</p>
                    <p><strong>Certified B Corporation™</strong> : We meet the
                        highest standard of environmental and
                        social impact and are an active participant
                        in the B Lab UK and global B Corp
                        community.</p>
                    <p><strong>UNFCCC Fashion Charter for Climate
                        Change:</strong> As a signatory, we are committed
                        to collective action with the broader
                        fashion industry to reach the principles
                        and aims of the Paris Agreement to
                        achieve climate neutrality.</p>
                    <p><strong>Walpole Sustainability Manifesto:</strong>
                        As an
                        active Walpole Sustainability Working
                        Group member, we’re committed to
                        Walpole’s guiding principles for a more
                        sustainable future and working together to
                        accelerate change in British luxury.</p>
                </div>
            </div>
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/logos-pros-img2.jpg?v=1605163922"/>
            </div>
        </div>
    </div>

    {% comment %} Buttons {% endcomment %}
    <div class="container buttons-wrapper">
        <div class="row text-center justify-content-center mt-2 mt-md-5">
            <div class="col-12">
                <a href="/collections/all-products" class="btn btn-primary">Shop Sustainably</a>
            </div>
        </div>
    </div>

</div>


<div class="cd-popup" role="alert" id="signup-email">
    <div class="cd-popup-container square-popup">
        <div class="popup-content ec-collection-popup">
            <div class="ec-collection-container">
                <h1>Sign up</h1>
                <div class="newsletter-form signup-form" id="mc_embed_signup">
                    <form action="https://daiwear.us16.list-manage.com/subscribe/post-json?u=dcc7684ff8cf3c2241611e9ee&amp;id=61da4e08d4&c=?" method="post" id="mc-embedded-subscribe-form-4" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <input type="text" value="" name="FNAME" class="form-control required" id="mce-FNAME" placeholder="First Name" required="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                        <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Your Email" required>
                        <div id="mce-responses" class="clear">
                          <div class="response" id="mce-error-response" style="display:none;margin-bottom: 20px;">Please enter a valid email address</div>
                          <div class="response" id="mce-success-response" style="display:none">Welcome Dai'namic Woman. See you in your inbox!</div>
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dcc7684ff8cf3c2241611e9ee_61da4e08d4" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Join Us" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-full"></div>
                      </form>
                  </div>
            </div>
        </div>
        <a href="#signup-email" class="cd-popup-close img-replace">Close</a>
    </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->

<script type="text/javascript">
    var frm = $('#entry-form');

    frm.submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                console.log('Submission was successful.');
                console.log(data);
            },
            error: function (data) {
                console.log('An error occurred.');
                console.log(data);
            },
        });
        $('#entry-form').hide();
        $('#success-msg').show();
    });
</script>