{% capture chevron %}
<span class="chevron">
    <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><path d="M13.148 10.398l-1.297 1.289q-0.148 0.148-0.352 0.148t-0.352-0.148l-4.148-4.148-4.148 4.148q-0.148 0.148-0.352 0.148t-0.352-0.148l-1.297-1.289q-0.148-0.148-0.148-0.355t0.148-0.355l5.797-5.789q0.148-0.148 0.352-0.148t0.352 0.148l5.797 5.789q0.148 0.148 0.148 0.355t-0.148 0.355z" /></svg>
</span> 
{% endcapture %}

<div class="sustainability-page-wrapper images-center">
    {% comment %} Navigation {% endcomment %}
    {% render 'sustainability-page-nav' %}

    {% comment %} Planet Intro {% endcomment %}
    <div class="container planet-intro">
        <div class="row mt-4">
            <div class="col-sm-6 text-center" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="planet-bg">
                    <p><strong>Fashion is not in fashion.</strong>
                        ICYMI, the
                        environmental impact from the global fashion
                        industry is significant and unsustainable. From
                        carbon emissions to chemical usage to waste, the
                        current system has to change.
                    </p>
                    <p>
                        At Dai, we’re designing to minimise our
                        environmental impact for the long haul. We start
                        with timeless design and incorporate our
                        signature fabrics into every collection. We use
                        eco friendly textiles with an enduring low impact
                        lifecycle.
                    </p>
                    <p>
                        And we don’t stop there. Doing better for our
                        planet is woven into every fibre of our brand
                        DNA. From packaging to shipping, commuting,
                        our workspaces and more, it extends to
                        everything we do, everyday.
                    </p>
                </div>
            </div>
            <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <div class="grey-bg">
                    <div>
                        <div class="row text-center mb-1">
                            <div class="col-sm-6">
                                <div class="icon-wrapper-box">
                                    <img data-aos="flip-left"
                                    data-aos-easing="ease-out-cubic"
                                    data-aos-duration="1000" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Eco_Certified_icon.png?v=1605147574" />
                                    <p>ECO CERTIFIED</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="icon-wrapper-box">
                                    <img data-aos="flip-left"
                                    data-aos-easing="ease-out-cubic"
                                    data-aos-duration="1000" data-aos-delay="100" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Eco_Print.png?v=1605147574" />
                                    <p>CARBON EMISSIONS</p>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center mb-1">
                            <div class="col-sm-6">
                                <div class="icon-wrapper-box">
                                    <img data-aos="flip-left"
                                    data-aos-easing="ease-out-cubic"
                                    data-aos-duration="1000" data-aos-delay="200" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Return-01.png?v=1605147574" />
                                    <p>WASTE &
                                        RECYCLING</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="icon-wrapper-box">
                                    <img data-aos="flip-left"
                                    data-aos-easing="ease-out-cubic"
                                    data-aos-duration="1000" data-aos-delay="300" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/circular.png?v=1605147574" />
                                    <p>CIRCULAR:
                                        MAKE
                                        USE REUSE</p>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-6">
                                <div class="icon-wrapper-box">
                                    <img data-aos="flip-left"
                                    data-aos-easing="ease-out-cubic"
                                    data-aos-duration="1000" data-aos-delay="400" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Extra-Comfort-icon.png?v=1549987893" />
                                    <p>REPAIR & DONATE</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="icon-wrapper-box">
                                    <img data-aos="flip-left"
                                    data-aos-easing="ease-out-cubic"
                                    data-aos-duration="1000" data-aos-delay="400" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Regenerated_Yarns_d4f92608-e2aa-47f7-aa46-3cdbe6a2a8e3.png?v=1605663243" />
                                    <p>RECYCLED YARNS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} ECO CERTIFIED {% endcomment %}
    <div class="container">
        <div class="row align-items-center justify-content-center mt-4 mt-md-5">
            <div class="col-sm-5 mb-4 mb-md-0" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="icon-wrapper-box">
                    <h2 class="title">ECO CERTIFIED</h2>
                    <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Eco_Certified_icon.png?v=1605147574" />
                    <p class="fz-3 serif text-font-secondary"><em>88%</em></p>
                    <p>of our
                        textiles are Oeko-Tex® Certified. This means
                        that ours are tested for no
                        harmful chemicals and
                        substances</p>
                </div>
            </div>
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/eco-certified-img.jpg?v=1605153769"/>
            </div>
        </div>
    </div>
   
    {% comment %} Carbon emissions {% endcomment %}
    <div class="container" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="title my-5">Carbon emissions</h2>
                <img style="max-width: 75px;" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Eco_Print.png?v=1605147574" />
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-sm-5">
                <div class="icon-wrapper-box icon-wrapper-box__wider">
                    <p class="fz-3 serif text-font-secondary"><em>100%</em></p>
                    <p>of our shipments are carbon
                        neutral. Simply put, we’re
                        offsetting our negative
                        carbon impact which
                        otherwise contributes to
                        climate change</p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="icon-wrapper-box icon-wrapper-box__wider">
                    <p class="fz-3 serif text-font-secondary"><em>25%</em></p>
                    <p>of our overall carbon
                        footprint was offset in
                        2018-2019</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-4">
            <div class="col-sm-5">
                <div class="icon-wrapper-box icon-wrapper-box__wider">
                    <p class="fz-3 serif text-font-secondary"><em>72%</em></p>
                    <p>of our fabric mills are powered by renewable energy</p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="icon-wrapper-box icon-wrapper-box__wider">
                    <p class="fz-3 serif text-font-secondary"><em>100%</em></p>
                    <p>of our electricity at our London headquarters is from renewable energy</p>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Recycling and waste diversion {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="title mt-5 mb-3">WASTE & RECYCLING</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mobile-reverse-order mt-4">
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/waste-recycl-img.jpg?v=1605154441"/>
            </div>
            <div class="col-sm-5 mb-4 mb-md-0" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <div class="icon-wrapper-box">
                    <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Return-01.png?v=1605147574" />
                    <p class="fz-3 serif text-font-secondary"><em>100%</em></p>
                    <p>of our packaging is single
                        use plastic free and FSC
                        certified recycled and
                        recyclable paper</p>
                    <p class="fz-3 serif text-font-secondary"><em>50%</em></p>
                    <p>of supplier packaging is
                        reused and repurposed</p>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Water saved {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="title mt-5 mb-3">GOING FULL CIRCLE: MAKE USE REUSE</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-4">
            <div class="col-sm-5 mb-4 mb-md-0" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="icon-wrapper-box icon-wrapper-box__wider">
                    <img class="mb-4" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/biodegradable.png?v=1605147574" />
                    <p class="fz-3 serif text-font-secondary">Made from trees</p>
                    <p>Our Eco Luxe
                        Essentials are made
                        from certified sustainably managed
                        forests. What? Like a tree nursery that
                        regrows and is protected. They’re also
                        certified biodegradable and
                        compostable, meaning they turn back
                        into soil instead of adding to landfill. <a href="/collections/eco-luxe-essentials">Shop the collection</a></p>
                </div>
            </div>
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/made-from-trees-img.jpg?v=1605154861"/>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-4 mobile-reverse-order">
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/recycled-yarns-img.jpg?v=1605155183"/>
            </div>
            <div class="col-sm-5 my-4 my-md-0" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <div class="icon-wrapper-box icon-wrapper-box__wider">
                    <img class="mb-4" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Regenerated_Yarns.png?v=1605147574" />
                    <p class="fz-3 serif text-font-secondary">Recycled yarns</p>
                    <p>Our Revive styles are made of
                        recycled yarns which would have
                        otherwise been discarded in the
                        manufacturing process. <br/><a href="/collections/revive-recycled-collection">Shop our Revive Collection</a></p>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Circular Economy {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="title mt-5 mb-3">REPAIR & DONATE</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-2 mt-md-4">
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="icon-wrapper-box icon-wrapper-box__wider">
                    <p><strong>Repairing</strong>
                        is the best way to extend the life of
                        our products and reduce waste. We offer
                        complimentary repairs on our products and
                        so far have extended this support to our
                        earliest customers since launch.</p>
                    <p><strong>Donating back.</strong>
                        Every UK customer can also
                        use your complimentary return label to
                        donate gently worn clothes from any brand
                        back to us in support of organisations such as
                        Dress for Success Greater London, who help
                        disadvantaged women get back to work.</p>
                </div>
            </div>
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/repair-img.jpg?v=1605155723"/>
            </div>
        </div>
    </div>

    {% comment %} Goals for 2021 {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="title mt-5 mb-3">What's next?</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-2 mt-lg-4">
            <div class="col-sm-5 mb-4 mb-md-0" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="icon-wrapper-box icon-wrapper-box__wider">
                    <h2 class="text-font-secondary">Become carbon neutral</h2>
                    <p>In 2020, we
                        offsetted 25% of our total
                        greenhouse gas emissions by contributing
                        carbon credits on 100% of our shipments
                        through DHL’s recognised climate protection
                        projects.</p>
                    <p>In 2021, we are going all way. We are
                        offsetting 100% of our carbon emissions.
                        One small step for climate change, one giant leap
                        for humankind.</p>
                </div>
            </div>
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/carbon-neutral-img.jpg?v=1605156304"/>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-4 mobile-reverse-order ">
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/recycled-fibers.jpg?v=1605156415"/>
            </div>
            <div class="col-sm-5 mb-4 mb-md-0" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <div class="icon-wrapper-box icon-wrapper-box__wider">
                    <p class="fz-3 serif text-font-secondary"><em>50%</em></p>
                    <p>target for recycled fibres in our core
                        performance fabrics by 2021.</p>
                    <p>We also aim to launch new styles using natural-based, biodegradable.</p>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Buttons {% endcomment %}
    <div class="container buttons-wrapper">
        <div class="row text-center justify-content-center mt-5">
            <div class="col-12">
                <a href="/pages/people" class="btn btn-primary">Read next: Our People</a>
                <a href="/collections/all-products" class="btn btn-primary">Shop Sustainably</a>
            </div>
        </div>
    </div>

</div>