{% capture chevron %}
<span class="chevron">
    <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><path d="M13.148 10.398l-1.297 1.289q-0.148 0.148-0.352 0.148t-0.352-0.148l-4.148-4.148-4.148 4.148q-0.148 0.148-0.352 0.148t-0.352-0.148l-1.297-1.289q-0.148-0.148-0.148-0.355t0.148-0.355l5.797-5.789q0.148-0.148 0.352-0.148t0.352 0.148l5.797 5.789q0.148 0.148 0.148 0.355t-0.148 0.355z" /></svg>
</span> 
{% endcapture %}

<div class="sustainability-page-wrapper">
    {% comment %} Navigation {% endcomment %}
    {% render 'sustainability-page-nav' %}

    {% comment %} Quote content {% endcomment %}
    <div class="container">
        <div class="row align-items-center mt-4">
            <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/driving-positive-impact.jpg?v=1605144752"/>
            </div>
            <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <h2 class="title">DRIVING POSITIVE IMPACT</h2>
                <p>"When I started Dai, I was completely
                    uninformed of the polluting impact of fashion
                    until I began researching and creating our
                    supply chain.</p>
                <p>In being the architect of a new company, I saw
                    opportunity to do better, lead, innovate,
                    educate and empower, <strong>to drive positive
                    impact to the world.</strong>"</p>
                <p><strong>-JOANNA DAI, FOUNDER</strong></p>
            </div>
        </div>
    </div>

    {% comment %} Top 5 highlights {% endcomment %}
    <div class="top-highlights-wrapper mt-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
        <div class="container">
            <div class="row justify-content-center mt-4">
                <div class="col-sm-8">
                   <h2 class="title text-center mb-5">The Dai’namic Five
                    <small>Things you should know</small>
                   </h2>
                   <ul class="accordion">
                    <li class="accordion-item">
                        <h3 class="accordion-thumb">1. MINIMISING ENVIRONMENTAL IMPACT</h3>
                        <div class="accordion-panel">
                            <ul>
                                <li>88% of our textiles are eco-certified. <em>Eco what? </em>A lot of textiles carry harmful
                                    substances. Being eco-certified means that ours are tested to be chemically
                                    safe on your skin</li>
                                <li>72% of our suppliers are powered using renewable energy sources. <em>Mic drop.</em></li>
                                <li>We offset carbon on 100% of our shipments. <em>Simply put</em>, your shipment
                                    releases carbon and carbon causes climate change. We’re eliminating our
                                    negative impact.</li>
                            </ul>
                        </div>
                    </li>
                    
                    <li class="accordion-item">
                        <h3 class="accordion-thumb">2. GOING FULL CIRCLE: MAKE‐USE‐REUSE</h3>
                        <div class="accordion-panel">
                            <p>Because make-use-waste is out of fashion, and the circular economy is in.</p>
                            <ul>
                                <li>Our Eco Luxe Essentials are made from trees from certified sustainably
                                    managed forests. What? Like a tree nursery that regrows and is protected.
                                    They’re also certified biodegradable and compostable, meaning they turn back
                                    into soil instead of adding to landfill.</li>
                                <li>Waste free. Our Revive styles are made of recycled yarns which would have
                                    otherwise been discarded in the manufacturing process.</li>
                            </ul>
                        </div>
                    </li>
                    
                    <li class="accordion-item">
                        <h3 class="accordion-thumb">3. ETHICALLY MADE IN EUROPE</h3>
                        <div class="accordion-panel">
                            <ul>
                                <li>83% of our suppliers (and counting) have signed onto the Dai Code of
                                    Conduct, ensuring social and environmental responsibility</li>
                                <li>We manufacture 100% in the EU</li>
                                <li>We pay all employees above the London Living Wage</li>
                            </ul>
                        </div>
                    </li>

                    <li class="accordion-item">
                        <h3 class="accordion-thumb">4. CERTIFIED B CORP™</h3>
                        <div class="accordion-panel">
                            <p>B Corp is companies reinventing business by pursuing good for our planet and
                                people, not just profit. Our mission to do good for our people and planet is part
                                our DNA. In 2020, we are very proud to become a Certified B Corporation and
                                join the global community of leaders using business as a force for good.</p>
                                <p><img class="mt-3" style="max-width: 250px" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/certified-b-logo.png?v=1605145950"/></p>
                        </div>
                    </li>

                    <li class="accordion-item">
                        <h3 class="accordion-thumb">5. BY WOMEN, FOR WOMEN</h3>
                        <div class="accordion-panel">
                            <p>The world is better when women succeed. Everything we do from design to
                                company culture is focused on empowering women. The majority of our team is
                                female-fuelled, and our board and investors are 65%+ female.</p>
                        </div>
                    </li>
                </ul>


                </div>
            </div>
        </div>
    </div>

    {% comment %} Goals for 2021 {% endcomment %}
    <div class="container goals-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="title text-center mt-5 mb-4">What’s next?</h2>
            </div>
        </div>
        <div class="row align-items-center mt-md-4">
            <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <ul class="accordion">
                    <li class="accordion-item is-active">
                        <h3 class="accordion-thumb">BECOME CARBON NEUTRAL</h3>
                        <div class="accordion-panel">
                            <ul>
                                <li>In 2020, we offsetted 25% of our total greenhouse gas
                                    emissions by contributing carbon credits on 100% of
                                    our shipments through DHL’s recognised climate
                                    protection projects.</li>
                                <li>In 2021, we are going all way. We are offsetting 100%
                                    of our carbon emissions. One step for climate change,
                                    one giant leap for humankind.</li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <h3 class="accordion-thumb">GOING FULL CIRCLE: MAKE‐USE‐REUSE</h3>
                        <div class="accordion-panel">
                            <ul>
                                <li>Increase recycled fabrics to make up 50% of our core
                                    performance fabrics by 2021</li>
                                <li>Launch new natural-based fibres in some new styles</li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <h3 class="accordion-thumb">KNOWLEDGE IS POWER</h3>
                        <div class="accordion-panel">
                            <ul>
                                <li>Share details of our mills and factories on our products</li>
                                <li>Share the carbon footprint on our garments</li>
                            </ul>
                        </div>
                    </li>
                    <li class="accordion-item">
                        <h3 class="accordion-thumb">DIVERSITY AND INCLUSION</h3>
                        <div class="accordion-panel">
                            <ul>
                                <li>As we grow, we are committed to a diverse workforce
                                    of at least 40% from racial and sexual minorities,
                                    including 10% black</li>
                                <li>Continue diversity of our models with representation
                                    of 55% people of colour and 20% black, as we have
                                    achieved in 2018-2020</li>
                            </ul>
                        </div>
                    </li>
                </ul>



            </div>
            <div class="col-sm-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/whats-next-img.jpg?v=1605146178"/>
            </div>
        </div>
    </div>

    {% comment %} Buttons {% endcomment %}
    <div class="container buttons-wrapper">
        <div class="row text-center justify-content-center mt-3 mt-md-5">
            <div class="col-12">
                <a href="/pages/planet" class="btn btn-primary">Read next: Our Planet</a>
                <a href="/collections/all-products" class="btn btn-primary">Shop Sustainably</a>
            </div>
        </div>
    </div>

</div>