{% capture chevron %}
<span class="chevron">
    <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><path d="M13.148 10.398l-1.297 1.289q-0.148 0.148-0.352 0.148t-0.352-0.148l-4.148-4.148-4.148 4.148q-0.148 0.148-0.352 0.148t-0.352-0.148l-1.297-1.289q-0.148-0.148-0.148-0.355t0.148-0.355l5.797-5.789q0.148-0.148 0.352-0.148t0.352 0.148l5.797 5.789q0.148 0.148 0.148 0.355t-0.148 0.355z" /></svg>
</span> 
{% endcapture %}

<div class="sustainability-page-wrapper images-center">
    {% comment %} Navigation {% endcomment %}
    {% render 'sustainability-page-nav' %}

    {% comment %} Planet Intro {% endcomment %}
    <div class="container planet-intro">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center">
                <h2 id="supply-chain" class="title mt-3 mt-md-5 mb-3">It all begins with our people.</h2>
                <p>
                    When it comes to delivering you comfort
                    empowered performance, our process
                    passes the hands of so many talented people.
                </p>
                <p>
                    From the first conception of a design idea to
                    the person handing you your parcel, every
                    person is as important as the first and last.
                </p>
                <p>
                    It doesn’t stop there. Our community,
                    customers, shareholders and suppliers all
                    shape how we make a positive impact
                    through our products and brand.
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-sm-8">
                <div class="anchor-link-sections">
                    <a class="js-scroll" href="#supply-chain">{{ chevron }} ETHICAL SUPPLY CHAIN</a>
                    <a class="js-scroll" href="#diversity">{{ chevron }} DIVERSITY AND INCLUSION</a>
                    <a class="js-scroll" href="#wellbeing">{{ chevron }} EMPLOYEE WELLBEING</a>
                </div>
                
            </div>
        </div>
    </div>

    {% comment %} Supplier and Supply Chain {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 id="supply-chain" class="title mt-5 mb-3">Ethical Supply Chain</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-4 mobile-reverse-order">
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/supply-chain-img.jpg?v=1605161509"/>
            </div>
            <div class="col-sm-5 mb-4 mb-md-0" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <div class="icon-wrapper-box icon-wrapper-box__wider-extra">
                    <p class="fz-3 serif text-font-secondary"><em>83%</em></p>
                    <p>of our
                        suppliers have signed the <strong>Dai
                        Supplier Codes of Conduct</strong>,
                        encompassing the United Nation’s
                        declarations and conventions covering
                        human rights, environmental
                        sustainability, and anti corruption.</strong></p>
                    
                    <p>You can read the Dai Supplier Codes
                        of Conduct <a href="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Dai_Supplier_Code_of_Conduct_2020.pdf?v=1605488434" target="_blank">here</a>.</p>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Diversity and Inclusion {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 id="diversity" class="title mt-5 mb-3">Diversity and Inclusion</h2>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-md-4">
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="icon-wrapper-box icon-wrapper-box__wider-extra">
                    <p>We are committed to a diverse workforce
                        and talent representation with targets for
                        minority and underrepresented social
                        groups as we scale.</strong></p>
                    <p class="fz-3 serif text-font-secondary"><em>40%</em></p>
                    <p>of our full
                        time team are from racial
                        minorities</p>
                    <p class="fz-3 serif text-font-secondary"><em>55%</em></p>
                        <p>of our model representation are non
                            white
                            and 20% are black in 2018 and 2019</p>
                    <p class="fz-3 serif text-font-secondary"><em>65%+</em></p>
                    <p>of our board members and investors are
                        women</p>
                </div>
            </div>
            <div class="col-sm-5 mt-3 mt-md-0" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/supplier-chain-img.jpg?v=1605161899"/>
            </div>
        </div>
    </div>

    {% comment %} Employee Development and Wellbeing {% endcomment %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-8 text-center">
                <h2 id="wellbeing" class="title mt-5 mb-3">Employee Wellbeing and Development</h2>
                <p>A company culture starts with its people. At Dai, we are committed to fair pay, wellbeing and
                    career development of our employees.</p>
            </div>
        </div>
        <div class="row align-items-center justify-content-center mt-4">
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Steph_Bike_GIF_400x500_7956b68f-d370-4570-b9d7-b8b5030f6cd0.gif?v=1605547035"/>
            </div>
            <div class="col-sm-5 mt-4 mt-md-4" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                    <p>Fashion is widely known for underpaying. No
                        matter the seniority, everyone is paid at or
                        above the <strong>London Living Wage</strong></p>
                    <p>We inspire and motivate each other on
                        <strong>health and wellbeing, physically and mentally</strong>, by
                        promoting:</p>
                    <ul>
                        <li>Carbon free cycle to work programme</li>
                        <li>Allowances for fitness & health</li>
                        <li>Paid volunteering time</li>
                        <li>Staff social events</li>
                    </ul>
                    <p>We nurture <strong>knowledge, growth and career
                        development</strong> across the business, industry
                        and personal interests.</p>
            </div>
        </div>
        <div class="row justify-content-center mt-4 mt-md-5">
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                <div class="testimonials-wrapper">
                    <em>
                        “Balance is everything to me. We all have a purpose beyond the office and I feel this is encouraged and nurtured at Dai. Working at a young company, I've also had tremendous opportunity for career development and personal growth. I am constantly learning on new projects, developing new skills and reaching outside of my comfort zone.”
                        <br/><br/> Steph
                    </em>
                    
                </div>
            </div>
            <div class="col-sm-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" data-aos-delay="200">
                <div class="testimonials-wrapper">
                    <em>“At Dai, I feel celebrated for being myself,
                        sharing vulnerabilities, and striving for a better
                        work life balance. This is the first time in my
                        career I’ve felt perfectly justified to go out for a
                        bike ride in the middle of the workday!”
                        <br/><br/> Cynthia
                    </em>
                </div>
                
            </div>
        </div>
    </div>

    {% comment %} Buttons {% endcomment %}
    <div class="container buttons-wrapper">
        <div class="row text-center justify-content-center mt-1 mt-md-5">
            <div class="col-12">
                <a href="/pages/prosperity" class="btn btn-primary">Read next: Prosperity</a>
                <a href="/collections/all-products" class="btn btn-primary">Shop Sustainably</a>
            </div>
        </div>
    </div>

</div>