<div class="container about-page">
  <div class="row">
    <div class="col-12">
        <div class="two-tabs">
          <div>
            <a href="/pages/about">Our story<a href="/">
          </div>
          <div class="active">
            <a href="/pages/vision">Our vision</a>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="vision-page-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Positive Impact</h1>
      </div>
    </div>
  </div>
</div>

<div class="container about-page">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p>We're on a mission to do good for our community and our planet. From raw materials
        to final products, we're never done pushing the boundaries on sustainability innovation to minimise (our environmental impact. So you can feel good about what you wear.</p>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-sm-6 align-right">
      <h2 class="serif text-font-secondary">Timeless</h2>
      <p>We believe in enduring design. Our modern yet timeless
          silhouettes are constructed to be impactful season after
          season, after season.</p>
    </div>
    <div class="col-sm-6">
      <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/simone-blouse-front-detail.jpg?1599" alt="DAI Wear"/>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col-sm-6 order-mob-2">
      <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/transparency-patterncutter-factory.jpg?1607" alt="DAI Wear"/>
    </div>
    <div class="col-sm-6 order-mob-1">
      <h2 class="serif text-font-secondary">Transparent</h2>
      <p>We are passionate about who makes your clothes from start to finish. And we believe in delivering you premium quality and craftsmanship, at fair prices.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="serif">Sustainable</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/italian-mill-textile-sustainability-1.jpg?1613" />
      <h3>MILLS</h3>
      <p>
        For our signature technical fabrics, we are proud to be working with environmentally conscious Italian mills, such as Eurojersey, who invest in technology to reduce waste and save energy.
      </p>
    </div>
    <div class="col-sm-6">
      <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/dai-hearst-detail.jpg?1613" />
      <h3>FABRICS</h3>
      <p>
        Our materials are Oeko-Tex® and/or REACH certified wherever possible to ensure the chemical safety of our products.
      </p>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-6">
      <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/nordstark-seamstress.jpg?1613" />
      <h3>MANUFACTURERS</h3>
      <p>
      We partner with factories who share our vision of environmental and social responsibility. Our smaller quantities help fill in workflows and optimise factories’ production outputs.
    </p>
    </div>
    <div class="col-sm-6">
      <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/dai-label.jpg?1613" />
      <h3>CARE</h3>
      <p>
      Only clean when needed. When dry cleaning, look for greener, chemically safer options. Not only will you save resources, your clothes will look newer, longer.
    </p>
    </div>
  </div>
</div>

<div class="vision-page-header-two">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Empowering Women</h2>
      </div>
    </div>
  </div>
</div>

<div class="container about-page">
  <div class="row">
    <div class="col-sm-12 text-center">
    <p><span class="serif text-font-secondary">WE ARE A COMMUNITY</span> that empowers women beyond just performance workwear, and through social impact. We are committed to donating a portion of net proceeds to organisations and initiatives that support women, girls and gender equality.</p>
  </div>
  </div>

  <div class="row">
    <div class="col-sm-6 text-center align-right">
  		<h2 class="serif text-font-secondary">Dress for Success Greater London</h2>
      <p>We are proud to be partnering with <a href="http://www.dressforsuccessgl.org" target="_blank">Dress for Success Greater London</a>, a global non-profit organisation that promotes the economic independence of disadvantaged women by providing professional attire, a network of support and the career development tools to help women thrive in work and in life.</p>
    </div>
    <div class="col-sm-6">
      <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/DFSGL-image-logo.jpg?1637" alt="DAI Wear"/>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <p>A portion of net proceeds from sales will be donated to Dress for Success Greater London</p>
      <a href="/" class="btn btn-border">Dress for Success Greater London</a>
    </div>

</div>
