<div class="sustainability-page-wrapper">
  <div class="container">
      {% comment %} Main Menu {% endcomment %}
      <div class="row">
        <div class="col-12">
            <div class="main-menu">
                <a href="/pages/about" class="active">Our story</a>
                <a href="/pages/our-vision">Our impact</a>
            </div>
        </div>
      </div>
    </div>
</div>

<div class="about-header" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
  <h1 class="text-font-secondary">The world is better when women succeed.<br/> We deliver comfort-empowered <em>performance</em>.</h1>
</div>

<div class="container about-text-content mt-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h2 class="text-center text-font-secondary title">It happened on a <em>flight</em></h2>
      <p>Before I tell you everything you need to know about Dai, a story…</p>
      <p>Eight years into my investment banking career, I had my fair share of long
        days. On that particular day, I had my 4am cab pickup, the first flight out of
        London, a day of meetings around Stockholm, and the last flight back at
        8pm.</p>
        <p>When I finally sat down on my return flight, my waistband was digging in,
        nothing stretched, and I was uncomfortable. I wished I were in my yoga kit.</p>
        <p>Then, my a-ha moment. I thought to myself, 'could this <em>feel like yoga</em> and
        still look like a power suit?'</p>
        <p>As women, we want to reach the top. I want to build a world where our
        clothes do not restrict us, but rather empower us. Because comfort is
        confidence.</p>
        <p>(Here’s me talking about our true why and purpose and taking you BTS
        with our talented team at Dai.)</p>
    </div>
  </div>
</div>

<div class="container about-text-content mt-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
  <div class="row justify-content-center">
    <div class="col-sm-12">
      <div class="embed-container">
        <iframe src="https://www.youtube.com/embed/flOZYAdUoAQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>

<div class="container about-text-content mt-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h2 class="text-center text-font-secondary title">Welcome to <em>revolutionary</em> comfort</h2>
      <p>Growing up in Orange County, California, that sunny beach lifestyle and
        feeling of effortless ease had always been ingrained in me. As my journey
        took me to big cities, my design aesthetic harmonised with London’s
        timeless clean tailoring and NYC’s forward-thinking spirit and
        attitude.</p>
        <p>Yet, when it came to dressing for my fast-paced trading floor career, I was
          mostly underwhelmed and frustrated. I envisioned a brand where clothes
          moved at the speed of this unapologetically high-performing woman. I
          envisioned timeless designs that delivered performance, versatility and
          function.</p>
        <p>So yes, we are using performance 4-way stretch, machine washable,
          wrinkle resistant fabrics and designing the most comfortable clothes in the
          world. We’re never done pushing the boundaries on innovation and
          sustainability.</p>
    </div>
  </div>
</div>

<div class="full-width-image" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true"></div>

<div class="container about-text-content mt-5" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h2 class="text-center text-font-secondary title">Driving positive impact</h2>
      <p>Speaking of sustainability…</p>
        <p>It's no secret: fashion, as an industry, has been bad for our planet.</p>
        <p>When I started
          Dai in 2017, I made the commitment to do good for our
          planet and people through our brand and platform. Planet-friendly fabrics are just the beginning. Sustainability is woven into every fibre of
          our brand DNA and extends to everything we do, everyday.</p>
        <p>Three years on, we are proud to achieve our Certified B Corporation status, joining the global community of companies reinventing business as a powerful force for good. Learn more about everything we're doing <a href="/pages/our-impact-intro">here</a>.</p>
        <p>We have so much more to achieve as a company, an industry, and as
          consumers. Our journey is just beginning, and I hope you will join us to do
          better.</p>
        <p><img style="max-width: 130px" src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/joanna-signature.jpg?v=1605173370"/></p>
        <p>Joanna Dai, Founder</p>

        <div class="btn-area" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
          <a href="/collections/all-products" class="btn btn-primary">Let's get comfy</a>
          <a href="/pages/our-vision" class="btn btn-primary">Our impact</a>
        </div>
    </div>
  </div>
</div>