<div class="collection-header">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6">
          <div class="collection-header-img">
            <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/files/Trouser_Bar.jpg?v=1622656654" />
          </div>
        </div>
        <div class="col-12 col-md-6 collection-header-text">
          <div class="text-area" style="max-width: 450px">
           
            <h1 style="color: #000">The Trouser Bar</h1>
            <div class="rte collection-description hidden-small">
                <p> Which trouser are you? Get a leg up in our core trouser silhoettes - from skinny to wide, cropped to full-length, mid-rise to high. </p>
              <p>Here's our guide to finding your perfect pair.  </p>
            </div>
            <div class="rte collection-description hidden-medium hidden-lg">
              
                  <p style="color: #000">
                   Here's our guide to finding your perfect pair of trouser.
                  </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
    <div class="row">
    
        <div class="col-12">
          <div class="trouser-bar-swipe-right"> <span class="swipe-right-copy">Swipe right for more styles > </span> </div>
            <div id="table-scroll" class="table-scroll">
                <div class="table-wrap">
                    <table class="trouser-bar-table">
                        <tr>
                            <td class="sticky-col"></td>
                            <td>
                                <a href="https://daiwear.com/products/power-move-trousers-crimson-3-0">
                                    <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/products/PM-CRIMSON_F.jpg?v=1620735533"/>
                                  <h3>Power Move 3.0™ / High Power Move 2.0™ Trousers</h3>
                                    <p><strong>Our #1 bestselling feels-like-yoga skinny trousers, sold out 10x.</strong></p>
                                </a>
                            </td>
                            <td>
                                <a href="https://daiwear.com/products/flare-game-trousers-midnight-2-0">
                                    <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/products/FLARE-GAME-NAVY_F_MAIN.jpg?v=1620811858"/>
                                  <h3>Flare Game Trousers</h3>
                                    <p><strong>The perfect cropped flare leg trouser with 'of the moment' appeal.</strong></p>
                                </a>
                            </td>
                            <td>
                                <a href="https://daiwear.com/products/linear-trousers-black">
                                    <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/products/LINEAR-TROUSER_MIDNIGHT_F_MAIN.jpg?v=1617219599"/>
                                  <h3>Linear Trousers</h3>
                                    <p><strong>Your go-to straight-leg trouser for a flattering elongated look.</strong></p>
                                </a>
                            </td>
                            <td>
                                <a href="https://daiwear.com/products/freedom-jogger-regatta-navy">
                                    <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/products/FREEDOM_JUNGLE_F_MAIN.jpg?v=1620735508"/>
                                  <h3>Freedom Jogger</h3>
                                    <p><strong>For ultimate comfort. Our most casual light-weight trouser.</strong></p>
                                </a>
                            </td>
                            <td>
                                <a href="https://daiwear.com/products/cream-of-the-crop-trousers-black-2-0">
                                    <img src="https://cdn.shopify.com/s/files/1/0225/7023/8016/products/CREAM-OF-THE-CROP-MIDNIGHT_F_MAIN_71fc041d-b063-4d21-bdd6-fdef5eb59d16.jpg?v=1620735497"/>
                                  <h3>Cream of the Crop 2.0 Trousers</h3>
                                    <p><strong>Feels-like-air trousers, with revolutionary 3-pocket design.</strong></p>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="sticky-col">DAI DNA Styling Tip</td>
                            <td>Wear with a blazer for a sharp, tailored look, or pair back with your everyday essentials</td>
                            <td>Versatile for petites and talls. Cooling in summer, pair with boots in winter.</td>
                            <td>Suit up with our blazer or pair back with everyday essentials.</td>
                            <td>Designed for WFH, office, or cycle commute.</td>
                            <td>For everyday, everywhere. Can be dressed up or down.</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Silhouette</td>
                            <td>Skinny</td>
                            <td>Flare</td>
                            <td>Slim</td>
                            <td>Straight</td>
                            <td>Culotte</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Waist</td>
                            <td>Mid-rise / High-rise</td>
                            <td>Mid-rise</td>
                            <td>Mid-rise</td>
                            <td>Mid-rise</td>
                            <td>Mid-rise</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Waistband</td>
                            <td>Soft internal elastic waistband for comfy stretch, fly front</td>
                            <td>Classic waistband with fly front closure</td>
                            <td>Classic waistband with fly front closure</td>
                            <td>Elastic waistband</td>
                            <td>Elastic waistband</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Length</td>
                            <td>Ankle length. Available in 3 inseam lengths - 28", 30", 32"</td>
                            <td>Cropped length. 26.8"</td>
                            <td>Ankle length. 28.5"</td>
                            <td>Cropped length. 25"</td>
                            <td>Cropped length. 25"</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Fabric</td>
                            <td colspan="5">Super stretchy Italian knit jersey performance fabric (think athletic wear)</td>
                        </tr>
                        <tr>
                            <td class="sticky-col">Available colours</td>
                            <td>
                                <span class="color-circle color-crimson"></span>
                                <span class="color-circle color-black"></span>
                                <span class="color-circle color-midnight"></span>
                                <span class="color-circle color-jungle"></span>
                   
                            </td>
                            <td>
                                <span class="color-circle color-black"></span>
                                <span class="color-circle color-midnight"></span>
                            </td>
                            <td>
                                <span class="color-circle color-black"></span>
                                <span class="color-circle color-midnight"></span>
                            </td>
                            <td>
                                <span class="color-circle color-black"></span>
     
                                <span class="color-circle color-midnight"></span>
                              <span class="color-circle color-jungle"></span>
                            </td>
                            <td>
                                <span class="color-circle color-black"></span>
                                <span class="color-circle color-midnight"></span>
                            </td>
                        </tr>
                      <tr>
                        <td class="sticky-col">
                        </td>
                        <td><a href="https://daiwear.com/products/power-move-trousers-crimson-3-0" class="btn btn-primary" >SHOP NOW</a></td>
                        <td><a href="https://daiwear.com/products/flare-game-trousers-midnight-2-0" class="btn btn-primary" >SHOP NOW</a></td>
                        <td><a href="https://daiwear.com/products/linear-trousers-black" class="btn btn-primary" >SHOP NOW</a></td>
                        <td><a href="https://daiwear.com/products/freedom-jogger-regatta-navy" class="btn btn-primary" >SHOP NOW</a></td>
                        <td><a href="https://daiwear.com/products/cream-of-the-crop-trousers-black-2-0" class="btn btn-primary" >SHOP NOW</a></td>
                        
                      </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
 <div style="text-align:center; width:100%">
    <a href="https://daiwear.com/collections/trousers" class="btn btn-primary">SHOP ALL TROUSERS</a> &nbsp;&nbsp;&nbsp;&nbsp;   <a href="https://daiwear.com/collections/trouser-fit-finder" class="btn btn-primary">TROUSER FIT FINDER</a>
  </div>
</div>



<script>
    // requires jquery library
    jQuery(document).ready(function() {
        jQuery(".trouser-bar-table").clone(true).appendTo('#table-scroll').addClass('clone');   
    });
</script>